<header th:fragment="header"> 
    <nav class="navbar navbar-dark ">
        <div class="container-fluid">
          <a class="navbar-brand" th:href="@{/carritodecompras/vendedor/}"><img class="logo"  th:src="@{/images/logo-home.png}"> Carrito de compras </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Carrito de compras</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body" >
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" th:href="@{/carritodecompras/vendedor/}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" th:href="@{/carritodecompras/vendedor/misproductos}">Mis productos</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Mas acciones
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" th:href="@{/carritodecompras/vendedor/producto/nuevo}">Publicar nuevo producto</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="">cerrar sesión</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    <hr>
 <style>
.navbar{
	background:linear-gradient(to right,#141E30,#243B55) ;
}
.nav-link active{
  color: white;
}
.offcanvas-header{
    background:linear-gradient(to right,#141E30,#243B55) ;
}
.offcanvas-body{
    background:linear-gradient(to right,#141E30,#243B55) ;
}
.logo{
    height:40px;
}
</style>
</header>
